################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/0x17-doubly_linked_lists/Output-Solution.txt
/CppProperties.json
/0x17-doubly_linked_lists/main
/0x17-doubly_linked_lists/0-main.c
/0x17-doubly_linked_lists/2-add_dnodeint.exe
/0x17-doubly_linked_lists/.vscode
